RewriteEngine On
RewriteBase /Ledenadministratie2/

# Zorg ervoor dat alles via index.php gaat, maar correct omgeleid wordt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(index\.php)$ index.php [L]
RewriteRule ^(.*)$ index.php?page=$1 [L]
